* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-top: solid lightseagreen 4px;
    display: flex;
    justify-content: space-between;
}

.header-icon {
    background-image: url(https://github.com/nvbach91/nvbach91/assets/20724910/e7e240b4-382d-4b09-a62b-2ad43e03b518);
    display: inline-block;
    text-indent: 50px;
}

nav a {
    color: rgb(37, 37, 37);
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

.showcase-heading {
    background-image: url(https://github.com/nvbach91/nvbach91/assets/20724910/d0430f61-b06f-42ef-9f3e-a207d18be834);
    background-size: cover;
    padding: 50px;
}

.showcase-heading h1, .showcase-heading h3 {
    color: white;
    background-color: rgb(21, 21, 21, 0.7);
    text-align: center;
    padding: 30px;
    max-width: 800px;
    margin: 20px auto;
}

main {
    max-width: 1024px;
    margin: 0px auto;
    line-height: 24px;
}

.products-heading {
    background-image: url(https://github.com/nvbach91/nvbach91/assets/20724910/a8ad1146-4eb0-4bd4-8170-e1764783e892);
    background-position: center;
    background-size: cover;
    padding: 40px 0px;
}

.products-heading h2 {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 5px 0px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
}

.products li {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.products h2 {
    padding-bottom: 10px;
    border-bottom: solid 5px;
}

.products button {
    background-color: rgb(207, 87, 87);
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    padding: 10px 30px;
    cursor: pointer;
}

.products button:hover {
    background-color: rgb(153, 56, 56);
    transition: 0.5s linear;
}

.products p {
    flex-grow: 1;
}

.products li:nth-child(1) h2 {border-color: skyblue;}
.products li:nth-child(2) h2 {border-color: lightyellow;}
.products li:nth-child(3) h2 {border-color: darkblue;}
.products li:nth-child(4) h2 {border-color: brown;}
.products li:nth-child(5) h2 {border-color: lightcoral;}
.products li:nth-child(6) h2 {border-color: palevioletred;}
.products li:nth-child(7) h2 {border-color: lightgreen;}
.products li:nth-child(8) h2 {border-color: green;}

.copyright {
    color: white;
    background-color: black;
    text-align: center;
    padding: 30px 0px;
}

.socials {
    text-align: center;
    padding: 10px 0px;
}

.social {
    text-align: center;
}

.social button {
    background-color: transparent;
    border: none;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}

.social-twitter {background-image: url(https://github.com/nvbach91/nvbach91/assets/20724910/c1a822e8-b0fd-4129-8018-4a2a00e7c2ad);}
.social-facebook {background-image: url(https://github.com/nvbach91/nvbach91/assets/20724910/b3618703-e074-4e15-b6e7-6d6a8445aa1f);}
.social-instagram {background-image: url(https://github.com/nvbach91/nvbach91/assets/20724910/db53f664-a901-4d81-bcae-45a26dc6e6e9);}

.spinner {
    border: 20px solid firebrick;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-left-color: blue ;
    animation: spinning 0.6s linear infinite;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 720px) {
    .products li {
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 1280px) {
    .products li {
        width: calc(100% / 4);
    }
}

@media print {
    .products button {
        display: none;
    }

    .products h2 {
        border: none;
    }
}