* {
    box-sizing: border-box;
}

.layout {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1024px;
}

/* Global Visual Settings */

body {
    background-color: #fafafa;
}

.menu-item, .mf-item, .kpi-item, .main-header, .card {
    background-color: white;
    box-shadow: 0 0 0.4em #d0caca; /* 3px 5px 5px #d0caca */
    border-radius: 5px;
}

/* MENU */

.layout .menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-item {
    padding: 15px;
    transition: 0.5s ease;
}

.menu-item i {
    padding-right: 10px;
}

.menu-main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-footer {
    display: flex;
    text-align: center;
    gap: 5px;
}

.mf-item {
    width: calc(100% / 3);
    transition: 0.5s ease
}

/* MAIN */

.layout .main {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-header {
    color: white;
    background-color: #3d3d3d;

    font-size: 32px;
    font-family: "Exo 2";
    font-weight: bold;

    text-align: center;
    padding: 25px;
}

.kpis {
    display: flex;
    gap: 5px;
}

.kpi-item {
    text-align: center;
    padding: 25px;
    width: 25%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-video {
    width: calc(70% - (5px / 2));
    height: 400px;
}

.card-video iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card-performance {
    width: calc(30% - (5px / 2));
    height: 400px;
}

.card-app {
    width: calc(100% / 3 - (10px / 3));
    height: 200px;
}

.card-usage {
    width: calc(100% / 3 - (10px / 3));
    height: 200px;
}

.card-settings {
    width: calc(100% / 3 - (10px / 3));
    height: 200px;
}

.card-recent {
    width: calc(100% / 3 - (10px / 3));
    height: 200px;
}

.card-image {
    width: calc(100% / 3 - (10px / 3));
    height: 200px;
}

.card-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card-footer {
    width: calc(100% / 3 - (10px / 3));
    height: 200px;
}

/* SPINNER */

.spinner {
    border: 10px solid transparent;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-left-color: #3d3d3d;
    border-right-color: #3d3d3d;
    animation: spinning 0.8s linear infinite;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* INTERACTIVE PART */

.menu-item:hover, .mf-item:hover {
    color: white;
    background-color: #3d3d3d;

    font-weight: bold;

    cursor: pointer;
}

.menu-item:hover {
    padding: 25px 15px;
}

.mf-item:hover {
    width: 50%;
}

