h1 {
    width: 100%;
    text-align: center;
}

body {
    height: 100%;
    font-family: sans-serif;
}

.board {
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
    height: fit-content;
    width: 100%;
}

.card, .card-correct {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(20% - 8px);
    height: 100px;

    pointer-events: auto;
}

.card {
    background-color: cadetblue;
}

.card:active {
    background-color: #468081;
}

.card-correct {
    background-color: darkolivegreen;
    color: white;
    font-weight: normal;
}

@media screen and (min-width: 720px) {
    .board {
        width: 70%;
        margin: 0 auto;
    }

    .card {
        height: 150px;
    }
}