body {
    font-family: sans-serif;
}

.instructions h1 {
    color: white;
    background-color: brown;
    text-align: center;

    padding-top: 50px;
}

/* FLOAT SECTION */

.colors input {
    box-sizing: border-box;
    float: left;
    border: none;
    
    width: 50%;
    height: 30px;
}

.clear {
    clear: both;
}

/* WRAPPER SECTION */

header, nav, main, aside, footer {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 32px;
}

.wrapper {
    margin-top: 70px;
}

header {
    background-color: rgb(223, 114,  75);
    height: 300px;
    width: 100%;
}

nav {
    background-color: rgb( 47, 108, 136);
    height: 100px;
    width: 100%;
}

main {
    background-color: rgb(192,  70,  94);
    height: 1000px;
    width: 100%;
}

aside {
    background-color: rgb( 53, 184, 155);
    height: 800px;
    width: 100%;
}

footer {
    background-color: rgb( 39,  39,  39);
    height: 150px;
    width: 100%;
}

@media screen and (min-width: 1280px) {
    /* FLOAT CHANGES*/
    .colors input {
        width: 20%;
        height: 50px;
    }

    /* WRAPPER SECTION CHANGES */
    .row {
        display: flex;
    }
    
    main {
        width: 70%;
    }

    aside {
        width: 30%;
        height: 1000px;
    }

    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}